<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>確認画面</title>
</head>
<body>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; background-color: #00FFFF">
        <a href="http://localhost:8080/input"><img th:src="@{/images/Rogo.png}"></a>
        <div align="right">
            <a href="http://localhost:8080/searchTodo">検索</a>
        </div>
    </div>
    <p>Todoが追加されました!</p>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333">
        <p th:text="'追加されたTodo名：' + ${message.todoName}"/>
        <p th:text="'追加されたTodo期限：' + ${message.todoTime}"/>
    </div>
    <button onclick="history.back()">戻る</button>
    <p>現在登録されているTodo一覧</p>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333">
        <table>
            <tr th:each="data : ${messageList}" th:object="${data}">
                <td th:text="'ID　: ' + *{id}"></td>
                <td th:text="'Todo名　: ' + *{todoName}"></td>
                <td th:text="'Todoの期限　: ' + *{todoTime}"></td>
            </tr>
        </table>
    </div>
</body>
</html>