<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Todoリスト</title>
    </head>
    <body>
        <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; background-color: #00FFFF">
            <a href="http://localhost:8080/input"><img th:src="@{/images/Rogo.png}"></a>
            <div align="right">
                <a href="http://localhost:8080/searchTodo">検索</a>
            </div>
        </div>
        <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
            <p>新しいTodoを追加する。</p>
            <form action="#" th:action="@{/confirm}" th:object="${message}" method="post">
                <p>todo名: <input type="text" th:field="*{todoName}" /></p>
                <p>期限: <input type="text" th:field="*{todoTime}" /></p>
                <input type="submit" value="送信" />
            </form>
        </div>
    </body>
</html>