<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todoリスト</title>
</head>
<body>
<form action="#" th:action="@{/confirm}" th:object="${message}" method="post">
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
        <p>新しいTodoを追加する。</p>
        <p>Todo名</p><input type="text" class="form-control" th:field="*{text}" />
        <button type="submit" class="btn btn-default">送信</button>
    </div>
</form>
</body>
</html>